HaloServerTools/HaloServer/hst.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="hst" targetNamespace="http://tempuri.org/hst.xsd" elementFormDefault="qualified"
	xmlns="http://tempuri.org/hst.xsd" xmlns:mstns="http://tempuri.org/hst.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="servers">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="server_id" type="xs:ID" />
				<xs:element name="account_id" type="xs:int" />
				<xs:element name="server_name" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>